### Import required packages

In [1]:
# Import statements
import pandas as pd
import numpy as np
import os
import json
from os import path
import warnings
warnings.filterwarnings("ignore")

### Open the corresponding dataset

In [2]:
#Open corresponding file
filename = "tweets"
file_format = filename+'.csv'
filename = file_format
encoding = ['utf8','latin1','iso-8859-1','cp1252']
flag = False
encoding_list = len(encoding)
if file_format.endswith('.html'):
    dfs = pd.read_html(file_format)
    df  = pd.concat(dfs)
    df.to_csv(filename+".csv",index=False)
if file_format.endswith('.json'):
    df = pd.read_json(filename)
if 'parsed.csv' in filename:
    df = pd.read_csv(file_format, index_col=0 )
    flag = True
if flag != True:
#Try all the possible encoding schemes to see which one applies to the dataset
    for encoding_type in range(0,encoding_list-1):
        try:
            if file_format.endswith('.csv'):
                df = pd.read_csv(file_format, index_col=None , encoding = encoding[encoding_type])
                break
        except Exception:
            pass

In [3]:
df

,id,handle,text,is_retweet,original_author,time,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,is_quote_status,...,place_type,place_country_code,place_country,place_contained_within,place_attributes,place_bounding_box,source_url,truncated,entities,extended_entities
0,780925634159796224,HillaryClinton,The question in this election: Who can put the...,False,NaN,2016-09-28T00:22:34,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Xr...,{'media': [{'display_url': 'pic.twitter.com/Xr...
1,780916180899037184,HillaryClinton,"Last night, Donald Trump said not paying taxes...",True,timkaine,2016-09-27T23:45:00,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/t0...,{'media': [{'display_url': 'pic.twitter.com/t0...
2,780911564857761793,HillaryClinton,Couldn't be more proud of @HillaryClinton. Her...,True,POTUS,2016-09-27T23:26:40,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [{'id_str': '1536791610', 'n...",NaN
3,780907038650068994,HillaryClinton,"If we stand together, there's nothing we can't...",False,NaN,2016-09-27T23:08:41,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://studio.twitter.com,False,{'media': [{'display_url': 'pic.twitter.com/Q3...,{'media': [{'display_url': 'pic.twitter.com/Q3...
4,780897419462602752,HillaryClinton,Both candidates were asked about how they'd co...,False,NaN,2016-09-27T22:30:27,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,https://about.twitter.com/products/tweetdeck,False,"{'user_mentions': [], 'symbols': [], 'urls': [...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6439,684219579548041218,realDonaldTrump,"""@lilredfrmkokomo: @realDonaldTrump My Faceboo...",False,NaN,2016-01-05T03:47:14,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com/download/android,False,"{'user_mentions': [{'id_str': '26122621', 'nam...",NaN
6440,684218836569206784,realDonaldTrump,"""@marybnall01: @realDonaldTrump watched lowell...",False,NaN,2016-01-05T03:44:17,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com/download/android,False,"{'user_mentions': [{'id_str': '3477455725', 'n...",NaN
6441,684218305100525569,realDonaldTrump,"""@ghosthunter_lol: Iowa key endorsement for @r...",False,NaN,2016-01-05T03:42:10,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com/download/android,False,{'media': [{'display_url': 'pic.twitter.com/JB...,{'media': [{'display_url': 'pic.twitter.com/JB...
6442,684217554861199360,realDonaldTrump,"""@iLoveiDevices: @EdwinRo47796972 @happyjack22...",False,NaN,2016-01-05T03:39:11,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com/download/android,False,"{'user_mentions': [{'id_str': '42568997', 'nam...",NaN
6443,684216973815844866,realDonaldTrump,"""@SalRiccobono: @realDonaldTrump @troyconway D...",False,NaN,2016-01-05T03:36:53,NaN,NaN,NaN,False,...,NaN,NaN,NaN,NaN,NaN,NaN,http://twitter.com/download/android,False,"{'user_mentions': [{'id_str': '2358794621', 'n...",NaN

### Method to display the column information, null and unique values of the dataset

In [4]:
def data_info(data):
    
    try:
        #Align column data by converting all column names to lower case and removing empty spaces
        try:
            data.columns = data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
        except:
            print("The column names are of type numerical")
            pass
        # lists the total values and columns in the dataset
        print("There are {} observations and {} features in this dataset. \n".format(data.shape[0],data.shape[1]))
        print("The list of columns in this dataset are: \n")
        #Lists the number of columns in a datset
        for col in data.columns:    
            print(col)
        print("\n")
        null_counts = data.isnull().sum()
        #Identify if the columns that has a null value
        print("The list of columns that has a null value are depicted as 'True' in the below list:\n{}".format(df.isnull().any()))
        print("\n")
        # Check if the columns are unique which are represented as 'True'
        print("The list of columns that has unique values are indicated as 'True':\n")
        for i in data.columns:
            print('{} is unique: {}'.format(i, data[i].is_unique))
        print("\n")
        #Check the number of null values in each column
        print("Number of null values in each column:\n{}".format(null_counts))
        print("\n")
        print("Total number of null values in the dataset is",null_counts.sum())
        #Prints the data types of the columns in the dataset
        print("\nData types and their frequency:\n{}".format(data.dtypes))
    except ValueError as e:
        print("Value error {} occured".format(e))

### Invoke the column information method

In [5]:
#Prints general info on the dataset
data_info(df)

There are 6444 observations and 28 features in this dataset.

The list of columns in this dataset are:

id
handle
text
is_retweet
original_author
time
in_reply_to_screen_name
in_reply_to_status_id
in_reply_to_user_id
is_quote_status
lang
retweet_count
favorite_count
longitude
latitude
place_id
place_full_name
place_name
place_type
place_country_code
place_country
place_contained_within
place_attributes
place_bounding_box
source_url
truncated
entities
extended_entities


The list of columns that has a null value are depicted as 'True' in the below list:
id                         False
handle                     False
text                       False
is_retweet                 False
original_author             True
time                       False
in_reply_to_screen_name     True
in_reply_to_status_id       True
in_reply_to_user_id         True
is_quote_status            False
lang                       False
retweet_count              False
favorite_count             False
longitude                   True
latitude                    True
place_id                    True
place_full_name             True
place_name                  True
place_type                  True
place_country_code          True
place_country               True
place_contained_within      True
place_attributes            True
place_bounding_box          True
source_url                 False
truncated                  False
entities                   False
extended_entities           True
dtype: bool


The list of columns that has unique values are indicated as 'True':

id is unique: True
handle is unique: False
text is unique: False
is_retweet is unique: False
original_author is unique: False
time is unique: False
in_reply_to_screen_name is unique: False
in_reply_to_status_id is unique: False
in_reply_to_user_id is unique: False
is_quote_status is unique: False
lang is unique: False
retweet_count is unique: False
favorite_count is unique: False
longitude is unique: False
latitude is unique: False
place_id is unique: False
place_full_name is unique: False
place_name is unique: False
place_type is unique: False
place_country_code is unique: False
place_country is unique: False
place_contained_within is unique: False
place_attributes is unique: False
place_bounding_box is unique: False
source_url is unique: False
truncated is unique: False
entities is unique: False
extended_entities is unique: False


Number of null values in each column:
id                            0
handle                        0
text                          0
is_retweet                    0
original_author            5722
time                          0
in_reply_to_screen_name    6236
in_reply_to_status_id      6242
in_reply_to_user_id        6236
is_quote_status               0
lang                          0
retweet_count                 0
favorite_count                0
longitude                  6432
latitude                   6432
place_id                   6240
place_full_name            6240
place_name                 6240
place_type                 6240
place_country_code         6240
place_country              6240
place_contained_within     6240
place_attributes           6240
place_bounding_box         6240
source_url                    0
truncated                     0
entities                      0
extended_entities          5096
dtype: int64


Total number of null values in the dataset is 98556

Data types and their frequency:
id                           int64
handle                      object
text                        object
is_retweet                    bool
original_author             object
time                        object
in_reply_to_screen_name     object
in_reply_to_status_id      float64
in_reply_to_user_id        float64
is_quote_status               bool
lang                        object
retweet_count                int64
favorite_count               int64
longitude                  float64
latitude                   float64
place_id                    object
place_full_name             object
place_name                  object
place_type                  object
place_country_code          object
place_country               object
place_contained_within      object
place_attributes            object
place_bounding_box          object
source_url                  object
truncated                     bool
entities                    object
extended_entities           object
dtype: object